<div class="grid">
    <div class="p-fluid col-12 md:col-12">
        <label for="nombre" class="form-label">Nombre</label>
        <input pInputText [(ngModel)]="this.perfil.nombre" type="text">
    </div>
    <div class="p-fluid col-12 md:col-6">
        <label for="nombre" class="form-label">Quiénes somos</label>
        <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="this.perfil.quienesSomos" [autoResize]="true"></textarea>
    </div>
    <div class="p-fluid col-12 md:col-6">
        <label for="nombre" class="form-label">Qué buscamos</label>
        <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="this.perfil.buscamos" [autoResize]="true"></textarea>
    </div>
    <div class="p-fluid col-12">
        <h5>Imagenes</h5>
        <div *ngIf="images" class="grid">
            <div *ngFor="let image of images; let index = index" class="col-1 m-2" key="index">
                <img [src]="image.thumbnailImageSrc" [alt]="image.alt" style="cursor: pointer"/>
            </div>
            <div class="flex flex-row justify-content-center align-content-center col-1 align-items-center">
                <button pButton type="button" class="p-button-raised p-button-rounded" icon="pi pi-plus" (click) = "agregarImagen()" ></button>
            </div>
        </div>
        <input #file type="file" name="archivo" id="archivo" hidden (change) = "this.agregarImagenArchivo($event)">
    </div>
</div>